/* Caractéristiques et comportement du body lui même
afin de n'avoir ni marge, ni padding, et afin de placer
la section de gauche et de droite côté à côte,
en display flex */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

/* Style appliqué sur la ligne de rupture thématique */
hr {
  margin-left: 0;
  margin-right: 0;
  border: solid 1px #29B6F6;
}

/* Caractéristique générale de l'élément paragraphe;*/
p {
  font-size: 1.3em;
}

/* Les caractéristiques et comportement de l'élément div qui contient tout
les éléments de la section principale de droite */
#main {
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  text-align: center;
  flex: auto;
  margin-left: 5%;
  margin-right: 5%;
}

/* Le prénom coloré de la couleur principale du thème */
#Karim {
  color: #29B6F6;
}

/* Un ligne sous le "devol" de la même couleur que le prénom
comme dans la maquette*/
#dev_under {
  text-decoration: underline #29B6F6;
}

/* Configuration générale de l'header */
header {
  text-align: left;
  font-size: 2rem;
  line-height: 0.7;
  font-weight: lighter;
}

/* Police d'écriture de l'élément h1 de l'header */
header>h1 {
  font-family: 'Playfair display', serif;
}

/* Caractéristique de l'élément h2 dans l'header;*/
header>h2 {
  font-size: 1em;
  color: grey;
}

/* Style appliqué en flex sur la div qui constient les sections respectives
"FORMATION" et "EXPÉRIENCE"
Les deux éléments à l'intérieur sont placé en colone pour que les éléments hérient
de cette attitude*/
.wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Les deux autres div à l'intérieur de cette div sont en rangé
pour être côte à côte, donc dp: flex row, space between pour l'espace */
.wrapper_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* La dernière section en bas, des RECOMANDATIONS avec un Display
flex, pour que les deux div soit côte à côte, space-between pour
qu'elles soit le plus espacées l'une et l'autre */
.wrapper_list_recommandation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Un margin de 1em pour que la  */
.wrapper_list1 {
  margin-right: 1em;
}

/* */
.wrapper_list2 {
  flex-grow: 0;
  flex-shrink: 3;
  text-align: justify;
  flex-basis: 60%;
}

/* Un margin de 50% appliqué au wrapper_list2 afin que
les deux recommandations soient le plus espacé possible */
.wrapper_list_recommandation>.wrapper_list2 {
  margin-left: 50%;
}

/* Couleur des petites iconnes*/
i {
  color: #4FC3F7;
}

/* Caractéristique générale des h2 */
h2 {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
}

/* Taille, margin et apparence de l'image */
img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 1%;
}

/* Caractéristiques de la div qui contient l'image,
afin que celle-ci soit placé comme dans la maquette */
#pp_wrapper {
  padding: 0;
  margin-bottom: 1%;
  margin-top: 1em;
}

/* Style et Layout appliqué à la bannière
Tout les éléments sont en column,
Elle possède une flex-basis de 30%
Pour faire respecter les dimensions de la maquette*/
#bannière {
  background-color: #4FC3F7;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-shrink: 0;
  text-align: center;
  justify-content: space-between;
}

/* Caractéristique des paragraphe à l'intérieur
de la bannnière afin que ceci apparaissent
comme des blocs de texte */
#bannière>div>p {
  text-align: justify;
  padding: 0;
  font-size: 1.2em;
  padding: 10%;
}

/* Style appliqué aux h2 de la bannière
afin que ceci ait un fond grisâtre,
et que le texte soit au centre */
#bannière>div>h2 {
  background-color: #212121;
  height: 50px;
  color: #4FC3F7;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

/* Style appliqué aux icones de la bannière */
div>i {
  color: black;
  font-size: 4em;
}

/* Display appliqué aux icones pour qu'ils soient
côté à côté */
.icons {
  display: flex;
  justify-content: space-around;
  margin: 2.5em;
}
